Repository MicrosoftDocs/architecture-center, pull requests merged in 2019-08, with the labels that each got.

#1675 Correcting Doc in Auto Scale
  docs/cloud-adoption/migrate/azure-best-practices/contoso-migration-refactor-linux-app-service-mysql.md
Labels: Change sent to author, assessing (C&L), cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#1687 Update manage-costs.md
  docs/cloud-adoption/migrate/azure-migration-guide/manage-costs.md
Labels: Change sent to author, assessing (C&L), cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#1691 Update index.md
  docs/cloud-adoption/migrate/index.md
Labels: Change sent to author, assessing (C&L), cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#1689 Remove a stray mdash, which was broken due to a missing semi-colon
  docs/reference-architectures/enterprise-integration/basic-enterprise-integration.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#1698 It is now known as "Azure Data Lake Storage".
  docs/data-guide/relational-data/data-warehousing.md
Labels: Change sent to author, architecture-center/svc, assessing_(C&L), cloud-fundamentals/subsvc, do-not-merge

#1694 fix duplicate links
  docs/cloud-adoption/getting-started/what-is-azure.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, overview/subsvc

#1706 Fix links to GitHub Repo for Implementation
  docs/reference-architectures/ai/mlops-python.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#1708 Move Altair and PBSPro to the same line
  docs/topics/high-performance-computing.md
Labels: Change sent to author, assessing_(C&L), ready-to-merge

#1710 Update hub-spoke.md
  docs/reference-architectures/hybrid-networking/hub-spoke.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#1718 Update Bulkhead Pattern
  docs/patterns/bulkhead.md
Labels: Change sent to author, architecture-center/svc, cloud-fundamentals/subsvc, do-not-merge

#1715 Update metrics-tolerance.md
  docs/cloud-adoption/governance/cost-management/metrics-tolerance.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1716 Update metrics-tolerance.md
  docs/cloud-adoption/governance/cost-management/metrics-tolerance.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1646 Updating Event Hubs info
  docs/data-guide/big-data/real-time-processing.md
Labels: Change sent to author, architecture-center/svc, assessing_(C&L), cloud-fundamentals/subsvc, do-not-merge

#1727 Update caf-governance-of-resources.md
  includes/caf-governance-of-resources.md
Labels: do-not-merge, review-team-triage

#1737 Update cost-management-evolution.md
  docs/cloud-adoption/governance/journeys/large-enterprise/cost-management-evolution.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1728 Update business-risks.md
  docs/cloud-adoption/includes/governance/business-risks.md
Labels: do-not-merge, review-team-triage

#1729 Update business-risks.md
  docs/cloud-adoption/includes/governance/business-risks.md
Labels: do-not-merge, review-team-triage

#1732 Update security-baseline-evolution.md
  docs/cloud-adoption/governance/journeys/small-to-medium-enterprise/security-baseline-evolution.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1733 Update resource-consistency-evolution.md
  docs/cloud-adoption/governance/journeys/small-to-medium-enterprise/resource-consistency-evolution.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1734 Update narrative.md
  docs/cloud-adoption/governance/journeys/large-enterprise/narrative.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1735 Update security-baseline-evolution.md
  docs/cloud-adoption/governance/journeys/large-enterprise/security-baseline-evolution.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1736 Update resource-consistency-evolution.md
  docs/cloud-adoption/governance/journeys/large-enterprise/resource-consistency-evolution.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1742 Fixing Intro Part
  docs/reference-architectures/ai/batch-scoring-R-models.md
Labels: Change sent to author, architecture-center/svc, assessing_(C&L), do-not-merge, reference-architecture/subsvc
