Repository MicrosoftDocs/architecture-center, pull requests merged in 2019-09, with the labels that each got.

#1763 Update compliance-processes.md
  docs/cloud-adoption/governance/resource-consistency/compliance-processes.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1762 Update policy-statements.md
  docs/cloud-adoption/governance/resource-consistency/policy-statements.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1760 Update metrics-tolerance.md
  docs/cloud-adoption/governance/resource-consistency/metrics-tolerance.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1772 Typo
  docs/reference-architectures/hybrid-networking/shared-services.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#1775 Update discipline-improvement.md
  docs/cloud-adoption/governance/security-baseline/discipline-improvement.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1774 Update metrics-tolerance.md
  docs/cloud-adoption/governance/security-baseline/metrics-tolerance.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1776 Corrected spelling mistake within NSG example names
  docs/cloud-adoption/ready/considerations/name-and-tag.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, ready/subsvc

#1761 Update metrics-tolerance.md
  docs/cloud-adoption/governance/resource-consistency/metrics-tolerance.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, govern/subsvc

#1784 Updating MVA to Microsoft Learn
  docs/cloud-adoption/organization/suggested-skills.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, organize/subsvc

#1788 Tiny fix (network-decisions.md)
  docs/cloud-adoption/ready/considerations/network-decisions.md
Labels: Change sent to author, cloud-adoption-framework/svc, do-not-merge, ready/subsvc

#1792 Updating tag count per RG
  docs/best-practices/naming-conventions.md
Labels: Change sent to author, architecture-center/svc, cloud-fundamentals/subsvc, do-not-merge

#1794 Trivial fix (decision-guides/subscriptions/index)
  docs/cloud-adoption/decision-guides/subscriptions/index.md
Labels: Change sent to author, cloud-adoption-framework/svc, decision-guide/subsvc, do-not-merge

#1795 Removed the note about Azure SQL DB Managed Instance being in preview
  docs/cloud-adoption/migrate/azure-best-practices/contoso-migration-rehost-vm-sql-managed-instance.md
Labels: Change sent to author, assessing_(C&L), cloud-adoption-framework/svc, do-not-merge, migrate/subsvc

#1796 Grammar
  docs/patterns/cqrs.md
Labels: Change sent to author, architecture-center/svc, cloud-fundamentals/subsvc, do-not-merge
