Repository MicrosoftDocs/architecture-center, pull requests merged in 2019-07, with the labels that each got.

#1624 Add in new alternative for Cognitive Search
  docs/example-scenario/ai/newsfeed-ingestion.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, example-scenario/subsvc, tracking (C&L)

#1626 Update azure-scaffold.md
  docs/cloud-adoption/appendix/azure-scaffold.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, enterprise-cloud-adoption/subsvc, tracking (C&L)

#1525 Add background color
  docs/example-scenario/apps/media/architecture-devops-dotnet-webapp.svg
Labels: Change sent to author, do-not-merge, ready-to-merge

#1638 changed from "mange" to "manage"
  docs/example-scenario/apps/devops-dotnet-webapp.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, example-scenario/subsvc

#1648 Update fundamental-concepts.md
  docs/cloud-adoption/ready/considerations/fundamental-concepts.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, enterprise-cloud-adoption/subsvc

#1651 added scenario 2 for deep learning
  docs/reference-architectures/ai/training-python-models.md
Labels: Change sent to author, architecture-center/svc, assessing (C&L), do-not-merge, reference-architecture/subsvc

#1657 Fixing several typos
  docs/cloud-adoption/organization/fiefdoms-silos.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, enterprise-cloud-adoption/subsvc

#1660 Update index.md
  docs/patterns/index.md
Labels: Change sent to author, architecture-center/svc, cloud-fundamentals/subsvc, do-not-merge

#1616 removing the VM scale requirement for VDC
  docs/cloud-adoption/governance/journeys/index.md
Labels: Change sent to author, architecture-center/svc, assessing (C&L), enterprise-cloud-adoption/subsvc, ready-to-merge

#1672 Update online-transaction-processing.md
  docs/data-guide/relational-data/online-transaction-processing.md
Labels: Change sent to author, architecture-center/svc, assessing (C&L), cloud-fundamentals/subsvc, do-not-merge

#1665 updating screenshots for Jenny
  docs/cloud-adoption/operations/azure-server-management/media/onboarding-configuration2.png
  docs/cloud-adoption/operations/azure-server-management/onboard-at-scale.md
Labels: assessing (C&L), do-not-merge

#1644 Reference and minor correction
  docs/reference-architectures/data/enterprise-bi-adf.md
Labels: Change sent to author, architecture-center/svc, assessing (C&L), do-not-merge, reference-architecture/subsvc
