Repository MicrosoftDocs/architecture-center, pull requests merged in 2019-12, with the labels that each got.

#1864 Add link to blog post describing idempotence pattern
  docs/patterns/retry.md
Labels: Change sent to author, architecture-center/svc, assessing_(C&L), cloud-fundamentals/subsvc, do-not-merge

#1880 fixed typo (public PR only due to repo access)
  docs/reference-architectures/app-service-web-app/multi-region.md
Labels: Change sent to author, architecture-center/svc, assessing_(C&L), do-not-merge, reference-architecture/subsvc

#1898 Fixed typo
  docs/example-scenario/ai/commerce-chatbot.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge
