Repository MicrosoftDocs/architecture-center, pull requests merged in 2020-05, with the labels that each got.

#2110 Change HIPPA to HIPAA
  docs/solution-ideas/articles/security-compliance-blueprint-hipaa-hitrust-health-data-ai.md
  docs/solution-ideas/media/security-compliance-blueprint-hipaa-hitrust-health-data-ai.png
  docs/solution-ideas/media/security-compliance-blueprint-hipaa-hitrust-health-data-ai.svg
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, solution-idea/subsvc

#2122 Resolve syncing conflicts from repo_sync_working_branch to master
  docs/docfx.json
  docs/guide/technology-choices/load-balancing-overview.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#2123 Update index.md
  docs/example-scenario/forensics/index.md
Labels: Change sent to author, architecture-center/svc, ready-to-merge

#2132 Removed an inaccurate SLA quoting a 20 minute restore time.
  docs/reliability/architect.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, well-architected/subsvc

#2134 Remove reference to SQL server
  docs/reference-architectures/n-tier/n-tier-cassandra.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#2147 Replace Warehouse by its new name
  docs/guide/architecture-styles/big-data.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, cloud-fundamentals/subsvc, do-not-merge
