Repository MicrosoftDocs/architecture-center, pull requests merged in 2020-11, with the labels that each got.

#2483 Update multi-forest-azure-managed.md
  docs/example-scenario/wvd/multi-forest-azure-managed.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, example-scenario/subsvc

#2425 replacing sns with eventbridge
  includes/aws/messaging.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, ready-to-merge

#2445 Add additional consideration around how much data to put in an event
  docs/guide/architecture-styles/event-driven.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, cloud-fundamentals/subsvc, ready-to-merge

#2490 Update redundancy.md
  docs/guide/design-principles/redundancy.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, ready-to-merge, reference-architecture/subsvc

#2503 Update hybrid-hpc-in-azure-with-hpc-pack.md
  docs/solution-ideas/articles/hybrid-hpc-in-azure-with-hpc-pack.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, solution-idea/subsvc

#2507 Update adding-a-modern-web-and-mobile-frontend-to-a-legacy-claims-pro…
  docs/solution-ideas/articles/adding-a-modern-web-and-mobile-frontend-to-a-legacy-claims-processing-application.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, solution-idea/subsvc

#2508 Update monitor-security-operations.md
  docs/framework/security/monitor-security-operations.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, well-architected/subsvc

#2510 Proposed updates and changes to support the v3 latest API
  docs/solution-ideas/articles/digital-media-live-stream.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, solution-idea/subsvc

#2511 Updates for v3 API for Media Services -
  docs/solution-ideas/articles/digital-media-video.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, solution-idea/subsvc

#2512 Update realtime-scoring-python.md
  docs/reference-architectures/ai/realtime-scoring-python.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, reference-architecture/subsvc
