Repository MicrosoftDocs/architecture-center, pull requests merged in 2020-12, with the labels that each got.

#2525 Refresh references to Azure Search
  docs/data-guide/scenarios/images/search-pipeline.png
  docs/data-guide/scenarios/search.md
  docs/data-guide/technology-choices/search-options.md
  docs/example-scenario/apps/ecommerce-search.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, example-scenario/subsvc

#2541 Minor fix
  docs/multitenant-identity/token-cache.md
Labels: Change sent to author, architecture-center/svc, azure-guide/subsvc, do-not-merge

#2553 Update services.md
  docs/aws-professional/services.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, cloud-fundamentals/subsvc, ready-to-merge

#2557 fix(aks-microservices-content.md): fixed linked to ri-deploy page whi…
  docs/reference-architectures/containers/aks-microservices/aks-microservices-content.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge
