Repository MicrosoftDocs/architecture-center, pull requests merged in 2020-09, with the labels that each got.

#2361 Clarifying VNET integration and APIM tiers
  docs/example-scenario/integrated-multiservices/virtual-network-integration.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, example-scenario/subsvc

#2365 Update multi-forest-azure-managed.md
  docs/example-scenario/wvd/multi-forest-azure-managed.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, example-scenario/subsvc

#2364 Update multi-forest.md
  docs/example-scenario/wvd/multi-forest.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, example-scenario/subsvc

#2383 Update design-identity.md
  docs/framework/security/design-identity.md
Labels: do-not-merge

#2386 Typo "Jupyter notebooks"→"Jupyter Notebooks"
  docs/solution-ideas/articles/iot-using-cosmos-db.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, solution-idea/subsvc

#2407 Update retry-service-specific.md
  docs/best-practices/retry-service-specific.md
Labels: Change sent to author, architecture-center/svc, cloud-fundamentals/subsvc, do-not-merge
