Repository MicrosoftDocs/architecture-center, pull requests merged in 2020-08, with the labels that each got.

#2284 Update overview.md
  docs/framework/resiliency/overview.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, well-architected/subsvc

#2287 Update app-design.md
  docs/framework/resiliency/app-design.md
Labels: do-not-merge

#2286 Update app-design.md
  docs/framework/resiliency/app-design.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, well-architected/subsvc

#2274 Fix broken link on docs.msft.com
  docs/reference-architectures/containers/aks/secure-baseline-aks.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#2291 Fix broken link preventing -pr merge
  docs/reference-architectures/containers/aks/secure-baseline-aks.md
Labels: do-not-merge

#2293 Adds section about Pulumi as a declarative framework for IaC
  docs/framework/devops/iac.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, well-architected/subsvc

#2285 Update overview.md
  docs/framework/resiliency/overview.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, well-architected/subsvc

#2297 Update chaos-engineering.md
  docs/framework/resiliency/chaos-engineering.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, well-architected/subsvc

#2307 Updates on Cosmos DB
  docs/reference-architectures/app-service-web-app/multi-region.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#2308 punctuation from PR 2307
  docs/reference-architectures/app-service-web-app/multi-region.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#2317 Remove duplicate text
  docs/guide/technology-choices/data-store-overview.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#2318 Fix typo
  docs/reference-architectures/containers/aks/images/secure-baseline-architecture.svg
Labels: do-not-merge, review-team-triage

#2319 Update ecommerce-search.md
  docs/example-scenario/apps/ecommerce-search.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, example-scenario/subsvc

#2322 Update secure-baseline-aks.md
  docs/reference-architectures/containers/aks/secure-baseline-aks.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, reference-architecture/subsvc

#2314 Update firewall-application-gateway.md
  docs/example-scenario/gateway/firewall-application-gateway.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, do-not-merge, example-scenario/subsvc

#2335 Align terminology with NIST
  docs/framework/security/resilience.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, well-architected/subsvc

#2336 Update windows-virtual-desktop.md
  docs/example-scenario/wvd/windows-virtual-desktop.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2338 Added all Azure Security Center Features and updated the accroding image
  docs/solution-ideas/articles/devsecops-in-azure.md
  docs/solution-ideas/media/devsecops-in-azure.drawio
  docs/solution-ideas/media/devsecops-in-azure.png
  docs/solution-ideas/media/devsecops-in-azure.svg
Labels: Change sent to author, architecture-center/svc, do-not-merge, solution-idea/subsvc

#2346 Update iot-predictive-maintenance.md
  docs/example-scenario/predictive-maintenance/iot-predictive-maintenance.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, example-scenario/subsvc

#2345 Update banking-system-cloud-transformation.md
  docs/example-scenario/banking/banking-system-cloud-transformation.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2347 Update patterns-and-implementations.md
  docs/example-scenario/banking/patterns-and-implementations.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2348 Update jmeter-load-testing-pipeline-implementation-reference.md
  docs/example-scenario/banking/jmeter-load-testing-pipeline-implementation-reference.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2349 Update cobalt-extensible-cloud-framework.md
  docs/example-scenario/cobalt/cobalt-extensible-cloud-framework.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2350 Update aml-decision-tree.md
  docs/example-scenario/mlops/aml-decision-tree.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2351 Update mlops-maturity-model.md
  docs/example-scenario/mlops/mlops-maturity-model.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2352 Update mlops-technical-paper.md
  docs/example-scenario/mlops/mlops-technical-paper.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2353 Update dataops-mdw.md
  docs/example-scenario/data-warehouse/dataops-mdw.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2356 Update windows-virtual-desktop.md
  docs/example-scenario/wvd/windows-virtual-desktop.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2355 Add information about HATEOAS alternatives
  docs/best-practices/api-design.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, cloud-fundamentals/subsvc, do-not-merge

#2331 Update high-performance-computing.md
  docs/topics/high-performance-computing.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, ready-to-merge, reference-architecture/subsvc

#2357 Update windows-virtual-desktop.md
  docs/example-scenario/wvd/windows-virtual-desktop.md
Labels: Change sent to author, architecture-center/svc, example-scenario/subsvc, ready-to-merge

#2358 Update self-healing.md
  docs/guide/design-principles/self-healing.md
Labels: Change sent to author, architecture-center/svc, ready-to-merge, reference-architecture/subsvc
