Repository MicrosoftDocs/architecture-center, pull requests merged in 2021-05, with the labels that each got.

#2805 adding a period
  docs/includes/microservices-intro.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, guide/subsvc

#2809 Fixed typo in sentence about monitoring health of current workloads.
  docs/framework/scalability/principles.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, well-architected/subsvc

#2811 Changed TimeSpan.FromSeconds({number}).Milliseconds
  docs/best-practices/retry-service-specific.md
Labels: Change sent to author, aq-pr-triaged, architecture-center/svc, best-practice/subsvc, do-not-merge

#2831 Update data-store-overview.md
  docs/guide/technology-choices/data-store-overview.md
Labels: Change sent to author, architecture-center/svc, do-not-merge, guide/subsvc
