Repository MicrosoftDocs/architecture-center, pull requests merged in 2021-09, with the labels that each got.

#3047 Replaced } by )
  docs/framework/resiliency/monitoring.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, well-architected/subsvc

#3049 Update secure-baseline-aks-content.md
  docs/reference-architectures/containers/aks/secure-baseline-aks-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged

#3052 Update stream-processing.md
  docs/data-guide/technology-choices/stream-processing.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, azure-guide/subsvc

#3065 New Advisor recommendation
  docs/networking/guide/waf-application-gateway.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, azure-guide/subsvc
