Repository MicrosoftDocs/architecture-center, pull requests merged in 2022-11, with the labels that each got.

#3752 Introduce sub-head for easier linking + cross-linking + moving around text
  docs/reference-architectures/containers/aks-mission-critical/mission-critical-data-platform.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, reference-architecture/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#3763 Cross-linking
  docs/reference-architectures/containers/aks-mission-critical/mission-critical-app-design.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, guide/subsvc, qualifies-for-auto-merge

#3742 Cross-linking to other patterns
  docs/patterns/competing-consumers-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge

#3746 Cross-linking to services and guidance
  docs/guide/architecture-styles/web-queue-worker-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, review-team-triage, needs-human-review

#3750 Cross-link
  docs/guide/architecture-styles/event-driven-content.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge

#3745 Cross linking to related resources
  docs/patterns/queue-based-load-leveling-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge

#3758 Update sports-analytics-architecture-azure-content.md
  docs/example-scenario/analytics/sports-analytics-architecture-azure-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge

#3762 Cross-linking
  docs/patterns/cqrs-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge

#3743 Adding some additional guidance
  docs/guide/design-principles/scale-out.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, guide/subsvc, qualifies-for-auto-merge

#3744 Cross linking + relevant blog post
  docs/best-practices/background-jobs.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, best-practice/subsvc, qualifies-for-auto-merge

#3747 Expand guidance on checkpointing long-running transactions
  docs/guide/design-principles/self-healing.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, guide/subsvc, qualifies-for-auto-merge

#3760 Improving the cross-link to the new sub-head
  docs/best-practices/background-jobs.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, best-practice/subsvc, qualifies-for-auto-merge

#3748 Mentioning encryption as another consideration for message encoding
  docs/best-practices/message-encode.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, best-practice/subsvc, qualifies-for-auto-merge

#3749 Link to relevant blog post and cross-link to dead-letter queue content
  docs/patterns/publisher-subscriber-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge

#3780 Typo "Azure Monitor - Application Insights"→"Azure Monitor Applicatio…
  docs/reference-architectures/app-service-web-app/zone-redundant-content.md
Labels: do-not-merge, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge

#3783 typo: fixed typo in event-sourcing-content.md
  docs/patterns/event-sourcing-content.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge

#3792 Fixed typos in structured logging JSON
  docs/example-scenario/logging/unified-logging-content.md
Labels: do-not-merge, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge

#3788 Typo "Azure DNS's"→"Azure DNS"
  docs/example-scenario/integration/app-gateway-internal-api-management-function-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, qualifies-for-auto-merge

#3787 Fix the whitespace
  docs/example-scenario/teams/securing-bot-teams-channel-content.md
Labels: do-not-merge, architecture-center/svc, example-scenario/subsvc, aq-pr-triaged, qualifies-for-auto-merge
