Repository MicrosoftDocs/architecture-center, pull requests merged in 2022-02, with the labels that each got.

#3263 (Azure CXP) Doc Update
  docs/example-scenario/oracle-migrate/oracle-migration-lift-shift-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, example-scenarios/subsvc

#3276 Update link to match name change on Fowler's blog.
  docs/patterns/strangler-fig.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, design-pattern/subsvc

#3293 Update scale-using-aks-with-aci-content.md
  docs/solution-ideas/articles/scale-using-aks-with-aci-content.md
Labels: do-not-merge, review-team-triage

#3282 Changes detailed below
  docs/reference-architectures/data/profisee-master-data-management-purview-content.md
Labels: doc-enhancement, Change sent to author, do-not-merge, aq-pr-triaged, review-team-triage

#3278 new image for user-access with new naming of products changed
  docs/guide/security/images/user-access.png
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged

#3138 Update to modern OpenTelemetry practices+terminology
  docs/microservices/logging-monitoring.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, azure-guide/subsvc

#3271 (AzureCXP) Fix missing word
  docs/reference-architectures/dmz/nva-ha-content.md
Labels: do-not-merge, aq-pr-triaged, review-team-triage

#3274 Updating GET section
  docs/best-practices/api-design.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, best-practice/subsvc
