Repository MicrosoftDocs/architecture-center, pull requests merged in 2022-01, with the labels that each got.

#3221 Updating link to new Azure-Samples path
  docs/reference-architectures/ai/end-to-end-smart-factory-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, reference-architecture/subsvc, aq-pr-triaged

#3235 updated document semantics
  docs/example-scenario/devops/automate-azure-pipelines-content.md
Labels: do-not-merge, review-team-triage

#3226 Adding a section about Microsoft Defender for Cloud
  docs/aws-professional/security-identity.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, cloud-fundamentals/subsvc, aq-pr-triaged

#3238 Correct return code from progress endpoint
  docs/patterns/_images/async-request.png
  docs/patterns/async-request-reply.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, design-pattern/subsvc

#3223 Update high-performance-computing.md
  docs/topics/high-performance-computing.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, reference-architecture/subsvc, aq-pr-triaged

#3211 Proposed updates from Tigera to include Calico
  docs/reference-architectures/containers/aks-pci/aks-pci-network-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, review-team-triage

#3241 Minor format change
  docs/example-scenario/file-storage/oracle-azure-netapp-files-content.md
Labels: do-not-merge, review-team-triage

#3247 Removed link to etcd API in Azure Cosmos DB
  docs/guide/technology-choices/data-store-overview.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, guide/subsvc

#3242 Update async-request-reply.md
  docs/patterns/async-request-reply.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, design-pattern/subsvc
