Repository MicrosoftDocs/architecture-center, pull requests merged in 2023-07, with the labels that each got.

#4147 Spelling of 'citical'
  docs/example-scenario/mainframe/mainframe-midrange-data-replication-azure-qlik-content.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge

#4062 Update devops-start-here.md
  docs/guide/devops/devops-start-here.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, reference-architecture/subsvc, aq-pr-triaged, qualifies-for-auto-merge, cact-review-in-progress, pending-content-team/business-approval

#4153 Update smart places DTDL link
  docs/example-scenario/iot/smart-places-content.md
Labels: ready-to-merge, review-team-triage, qualifies-for-auto-merge

#4158 Update to Cosmos DB and Storage Multi-tenancy guides
  docs/guide/multitenant/service/cosmos-db.md
  docs/guide/multitenant/service/storage.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, aq-pr-triaged, azure-guide/subsvc, qualifies-for-auto-merge

#4164 Update: Remove Preview suffix from Private Resolver ref
  docs/example-scenario/networking/azure-dns-private-resolver-content.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, example-scenario/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#4140 Update oracle-azure-netapp-files-content.md #3994
  docs/example-scenario/file-storage/oracle-azure-netapp-files-content.md
Labels: ready-to-merge, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge, pending-content-team/business-approval

#4116 Update adds-extend-domain-content.md - Adjusted readablility
  docs/example-scenario/identity/adds-extend-domain-content.md
Labels: do-not-merge, aq-pr-triaged, review-team-triage, needs-human-review, cact-review-in-progress, pending-content-team/business-approval
