Repository MicrosoftDocs/architecture-center, pull requests merged in 2023-05, with the labels that each got.

#4014 #ATCP-Added block to grant controls
  docs/guide/security/conditional-access-framework.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, azure-guide/subsvc, qualifies-for-auto-merge

#4031 Update private-link.md
  docs/guide/multitenant/service/private-link.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, azure-guide/subsvc, qualifies-for-auto-merge

#4032 Update app-configuration.md
  docs/guide/multitenant/service/app-configuration.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, azure-guide/subsvc, qualifies-for-auto-merge

#4038 Update real-time-lakehouse-data-processing-content.md
  docs/example-scenario/data/real-time-lakehouse-data-processing-content.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, aq-pr-triaged, qualifies-for-auto-merge

#4042 Update services.md
  docs/aws-professional/services.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, cloud-fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval
