Repository MicrosoftDocs/architecture-center, pull requests merged in 2023-09, with the labels that each got.

#4203 {AzureArchitecture} Typo in the article
  docs/guide/multitenant/approaches/networking.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, azure-guide/subsvc, qualifies-for-auto-merge

#4204 The hyperlink is incorrect
  docs/aws-professional/services.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, cloud-fundamentals/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#4209 Update event-driven-content.md to include event visibility consideration
  docs/guide/architecture-styles/event-driven-content.md
Labels: ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval

#4210 Update event-driven architecture documentation to mention workflow patterns
  docs/guide/architecture-styles/event-driven-content.md
Labels: ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval

#4214 Update: Fix typo in planning and implementation content
  docs/web-apps/guides/reliable-web-app/dotnet/plan-implementation-content.md
Labels: Change sent to author, do-not-merge, architecture-center/svc, qualifies-for-auto-merge

#4215 Link event-driven-content to Idempotent message processing
  docs/guide/architecture-styles/event-driven-content.md
Labels: ready-to-merge, review-team-triage, qualifies-for-auto-merge

#4218 Introduce a Related Resources section for n-tier-content, adding some additional links
  docs/guide/architecture-styles/n-tier-content.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge

#4216 Link from event-driven-content to community discussion video
  docs/guide/architecture-styles/event-driven-content.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval

#4219 Adding a related resource for queue-based integration
  docs/example-scenario/integration/queues-events-content.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, example-scenario/subsvc, aq-pr-triaged, qualifies-for-auto-merge, pending-content-team/business-approval

#4220 Fix emphasis markdown
  docs/guide/saas/overview.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, azure-guide/subsvc, qualifies-for-auto-merge

#4239 Update landing-zone-deploy.md
  docs/landing-zones/landing-zone-deploy.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, guide/subsvc, qualifies-for-auto-merge
