Repository MicrosoftDocs/architecture-center, pull requests merged in 2024-08, with the labels that each got.

#4503 Update governance-teams-guest-users-content.md
  docs/example-scenario/governance/governance-teams-guest-users-content.md
Labels: ready-to-merge, review-team-triage, qualifies-for-auto-merge

#4505 Update scale-out.md
  docs/guide/design-principles/scale-out.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, azure-guide/subsvc, qualifies-for-auto-merge

#4504 Update auto-scaling.md
  docs/best-practices/auto-scaling.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, best-practice/subsvc, qualifies-for-auto-merge

#4506 Update data-considerations-content.md
  docs/microservices/design/data-considerations-content.md
Labels: ready-to-merge, review-team-triage, qualifies-for-auto-merge

#4507 Update self-healing.md
  docs/guide/design-principles/self-healing.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, azure-guide/subsvc, qualifies-for-auto-merge

#4510 Update to link url that doesn't open file in edit mode
  docs/patterns/cross-tenant-communication-using-multitenanted-applications.md
Labels: Change sent to author, ready-to-merge, architecture-center/svc, azure-guide/subsvc, qualifies-for-auto-merge

#4508 Update minimize-coordination-content.md
  docs/guide/design-principles/minimize-coordination-content.md
Labels: triaged, do-not-merge, review-team-triage, qualifies-for-auto-merge

#4512 Update docs: Rename HTTP header to follow azure API guidelines
  docs/guide/multitenant/considerations/map-requests-content.md
Labels: ready-to-merge, review-team-triage, qualifies-for-auto-merge

#4511 Update scale-iot-solution-azure.md
  docs/guide/iot/scale-iot-solution-azure.md
Labels: triaged, Change sent to author, do-not-merge, architecture-center/svc, azure-guide/subsvc, qualifies-for-auto-merge

#4513 Update event-driven-content.md
  docs/guide/architecture-styles/event-driven-content.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge
