Repository MicrosoftDocs/architecture-center, pull requests merged in 2025-01, with the labels that each got.

#4601 Update vector-search.md
  docs/guide/technology-choices/vector-search.md
Labels: triaged, Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, azure-architecture-center/svc, architecture-guide/subsvc

#4605 Add a link to Event Sourcing pattern in CQRS pattern documentation
  docs/patterns/cqrs-content.md
Labels: ready-to-merge, aq-pr-triaged, review-team-triage, qualifies-for-auto-merge, pending-content-team/business-approval

#4609 Update - Turn a block of text into a Tip block
  docs/guide/technology-choices/load-balancing-overview-content.md
Labels: ready-to-merge, review-team-triage, qualifies-for-auto-merge

#4615 Update: Fix typo, Intellij -> IntelliJ
  docs/guide/technology-choices/compute-decision-tree-content.md
Labels: ready-to-merge, review-team-triage, qualifies-for-auto-merge
