Repository MicrosoftDocs/architecture-center, pull requests merged in 2025-07, with the labels that each got.

#4686 Update: Fix typo: Kakfa -> Kafka
  docs/data-guide/technology-choices/stream-processing.md
Labels: Change sent to author, do-not-merge, aq-pr-triaged, pending-content-team/business-approval, azure-architecture-center/svc, architecture-guide/subsvc

#4684 Update: Fix typo: requestes -> requests
  docs/guide/devops/deployment-scripts-property-check-content.md
Labels: ready-to-merge, aq-pr-triaged, review-team-triage, pending-content-team/business-approval

#4687 Update microservices.md for spelling mistake (date > data)
  docs/guide/architecture-styles/microservices.md
Labels: Change sent to author, do-not-merge, azure-architecture-center/svc, architecture-guide/subsvc
