Repository MicrosoftDocs/architecture-center, pull requests merged in 2025-06, with the labels that each got.

#4676 Update messaging.md
  docs/guide/multitenant/approaches/messaging.md
Labels: Change sent to author, ready-to-merge, azure-architecture-center/svc, architecture-guide/subsvc

#4677 Update: Fix typo: theses -> these
  docs/reference-architectures/sap/run-sap-hana-for-linux-virtual-machines-content.md
Labels: ready-to-merge, review-team-triage

#4678 Update: Fix typo: homogenous -> homogeneous
  docs/patterns/compute-resource-consolidation-content.md
Labels: ready-to-merge, aq-pr-triaged, review-team-triage, pending-content-team/business-approval

#4680 Update aks-triage-deployment.md to remove duplication in subheading.
  docs/operator-guides/aks/aks-triage-deployment.md
Labels: Change sent to author, ready-to-merge, azure-architecture-center/svc, architecture-guide/subsvc
